.wrapper {
  padding: 40px;
  width: 900px;
}

#search-results-container {
  padding: 20px;
  margin: 5px 0 20px 0;
  border: solid 1px #ccc;
}

#search-results-container em {
    font-weight: bold;
    background: #FFFAC0;
    font-style: normal;
}

.box {
	margin-bottom: 15px;
}
.pl-0 {
	padding-left: 0;
}
.pr-0 {
	padding-right: 0;
}
.index-container h1{
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    margin: 30px auto;
}
.index-container ul.indexList{
    border: 1px solid #eee;
    padding: 0;
}
.index-container ul.indexList li{
    padding: 0;
}
.index-container li a{
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 40px;
}
.index-container li a:hover{
    background: #f0f0f0;
    text-decoration: none;
}